--- PYTHON GEREKSİZLERİ ---

pycache/
*.py[cod]


--- GÜVENLİK (En Önemlisi) ---

.env

--- FRONTEND (React Kütüphaneleri) ---

Bu klasör çok büyüktür, GitHub'a yüklenmez.

frontend/node_modules/
frontend/build/

--- VERİTABANI (İşlem Geçmişin) ---

data/*.db
*.db
*.sqlite3


--- İŞLETİM SİSTEMİ GEREKSİZLERİ ---

.DS_Store
Thumbs.db

# --- Gizli Stratejiler ---
strategies/st_ai_trend.py
strategies/st_ema_rsi.py
strategies/st_hyper_scalp.py
strategies/st_pivot_rev.py
strategies/st_ai_scalp.py
strategies/st_norm_macd.py


node_modules/
