.env
__pycache__/
*.pyc
/data

# --- Gizli Stratejiler ---
strategies/st_ai_trend.py
strategies/st_ema_rsi.py
strategies/st_hyper_scalp.py
strategies/st_pivot_rev.py
strategies/st_super_macd.py
strategies/st_norm_macd.py